<div class="jumbotron">
  <h1 class="display-3">Crisoforo Lopez Cruz</h1>
  <p class="lead">Good leaders praise in public and correct in private.</p>
  <hr class="my-4"/>
  <p>Welcome to my learning project Bugs. I created Bugs for educative purposes while I was learning Angular and Node.js with Express.</p>
  <p>Often, as a developer, team leader or manager, we do our best to keep high levels of quality. We try to generate as less bugs as possible, 
    but sometimes it is difficult to perceive bugs impact in our projects in real time and we may not be able to visualize the most affected areas.</p>
  <p>Bugs is a statistics monitoring tool that helps us vizualize the quality levels of our projects in real time, 
    allowing us to take corrective measures inside our team. Once we learn in real time what type of bugs are more prevalent, we can then focus in correcting
    the processes in the affected areas.
  </p>
</div>