<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="auth.loggedIn()">
  <a class="navbar-brand" routerLink="/home" skipLocationChange>
    Bugs123 <i class="fa fa-bug" aria-hidden="true"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" skipLocationChange>
          <div>
              {{ 'Navigationpage.home' | translate }} <i class="fa fa-home"></i>
          </div> 
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/statistics" skipLocationChange>
          <div>
              {{ 'Navigationpage.statistics' | translate }} <i class="fa fa-pie-chart"></i>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/systemdata" skipLocationChange>
          <div>
              {{ 'Navigationpage.system' | translate }} <i class="fa fa-table"></i>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" skipLocationChange>
          <div>
              {{ 'Navigationpage.about' | translate }} <i class="fa fa-address-book-o"></i>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="auth.logoutUser()" routerLink="/bugs123" skipLocationChange> 
          <div>
              {{ 'Navigationpage.logout' | translate }} <i class="fa fa-sign-out"></i>
          </div>
        </a>
      </li>
    </ul>
    
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="{{ 'Navigationpage.search' | translate }}">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">{{ 'Navigationpage.search' | translate }} </button>
      
    </form>
  </div>
</nav>
