<div class="row pt-5">
  <div class="col-md-3 mx-auto">
    <div class="card bg-light mb-2" style="max-width: 60rem;">
      <div class="card-header p-2">
        <h3 class="mb-2">
          <i class="fa fa-bug" aria-hidden="true"></i> Bugs123
        </h3>
      </div>
      <div class="card-body">
        <form [formGroup]="form" class="form p-2">
          <div *ngIf="form.errors" class="alert alert-danger">
              {{ 'Loginpage.login-fail' | translate }}
          </div>
          <div class="form-group p-2">
            <label for="user_login">
              <i class="fa fa-user" aria-hidden="true"></i> 
                {{ 'Loginpage.user' | translate }}:
            </label>
            <input formControlName="user_login" name="user_login" type="text" class="form-control rounded-2" required>
          </div>
          <div class="alert alert-danger" *ngIf="form.get('user_login').touched && form.get('user_login').invalid">
              {{ 'Loginpage.user-required' | translate }}
          </div>
          <div class="form-group p-2">
            <label for="user_password">
              <i class="fa fa-key" aria-hidden="true"></i> 
                  {{ 'Loginpage.password' | translate }}:
            </label>
            <input formControlName="user_password" (keyup.enter)="loginUser()" name="user_password" type="password" class="form-control rounded2" required>
          </div>
          <div class="alert alert-danger" *ngIf="form.get('user_password').touched && form.get('user_password').invalid">
              {{ 'Loginpage.password-required' | translate }}
          </div>
          <button (click)="loginUser()" type="button" class="btn btn-success float-right">
                  {{ 'Loginpage.login' | translate }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>