<div class="jumbotron">

  <h2 class="display-3">
        {{ 'Homepage.welcome' | translate }}
  </h2>
  <hr class="my-4"/>

  <div class="card mb-3" style="max-width: 100%;">
    <div class="card-header">
            {{ 'Homepage.usersearch' | translate }}
    </div>
    <div class="card-body">
      
      <lib-form
      (onSubmit)="onClick($event)"
      [searchCriteria]="formFields2">
      </lib-form>

    </div>
  </div>


<ngx-data-table
[data]="dataResults"
[columns]="columns"
></ngx-data-table>
</div>
