<div class="jumbotron">

  <div class="card border-info mb-3" style="max-width: 100%;">
    <div class="card-header">Root Cause Analysis</div>
    <div class="card-body">
      <lib-search-form
      (onSubmit)="onClick($event)"
      [searchCriteria]="formFields">
      </lib-search-form>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th style="width: 35%"></th>
        <th style="width: 65%"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
        
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#criticalityTab">Criticality</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#phaseTab">Phase</a>
                </li>
              </ul>
              <div id="myCriticality" class="tab-content">
                <div class="tab-pane fade show active" id="criticalityTab">
                    <google-chart [data]="columnChart"></google-chart>
                </div>
                <div class="tab-pane fade" id="phaseTab">
                    <google-chart [data]="pieChart"></google-chart>
                </div>
              </div>
          
        
        </td>
        <td>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#rcaTab">RCA</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#rcaprojectTab">RCA Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#projectrcaTab">Project RCA</a>
                  </li>
              </ul>
              <div id="myRCAs" class="tab-content">
                <div class="tab-pane fade show active" id="rcaTab">
                    <google-chart [data]="pieChart"></google-chart>
                </div>
                <div class="tab-pane fade" id="rcaprojectTab">
                    <google-chart [data]="stackedChart"></google-chart>
                </div>
                <div class="tab-pane fade" id="projectrcaTab">
                    <google-chart [data]="columnChart"></google-chart>
                </div>
              </div>

        </td>
      </tr>
    </tbody>
  </table>
  
  

  

</div>
