<div class="jumbotron">

  <div class="card mb-3" style="max-width: 100%;">
    <div class="card-header">
        {{ 'Statisticspage.rca-long' | translate }}
    </div>
    <div class="card-body">
      <lib-search-form
      (onSubmit)="onClick($event)"
      [searchCriteria]="formFields">
      </lib-search-form>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">

        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#criticalityTab" (click)="loadChartTab('left','criticality','Criticality',1,criticalityChartService)">
                  {{ 'Statisticspage.criticality' | translate }}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#criticalityTab" (click)="loadChartTab('left','phase','Phase',2,phaseChartService)">
                  {{ 'Statisticspage.phase' | translate }}
              </a>
            </li>
          </ul>
          <div id="myCriticality" class="tab-content">
            <div class="tab-pane fade show active" id="criticalityTab">
                <google-chart [data]="generalLeftPane"></google-chart>
            </div>
          </div>

    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">

        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#rcaTab" (click)="loadChartTab('right','rca','Root Cause Analysis',1,rcaChartService)">
                  {{ 'Statisticspage.rca-long' | translate }}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#rcaTab" (click)="loadChartTab('right','rcaproject','RCA Project',2,rcaProjectChartService)">
                  {{ 'Statisticspage.rca-short' | translate }} {{ 'Statisticspage.project' | translate }}
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#rcaTab" (click)="loadChartTab('right','projectrca','Project RCA',3,projectRcaChartService)">
                    {{ 'Statisticspage.project' | translate }} {{ 'Statisticspage.rca-short' | translate }}
                </a>
              </li>
          </ul>
          <div id="myRCAs" class="tab-content">
            <div class="tab-pane fade show active" id="rcaTab">
                <google-chart [data]="generalRightPane"></google-chart>
            </div>
          </div>

    </div>
  </div>
  

  

</div>
